@model AutoMechanic



<form asp-action="details" >

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Confirm account</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">AutoMechanic Dashboard</a></li>
                        <li class="breadcrumb-item active">Details AutoMechanic Account</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>


<!-- /.col -->
<div class="col-md-12">
    <!-- Widget: user widget style 1 -->
    <div class="card card-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-info">
            <h3 class="widget-user-username">@Model.Name</h3>
            <h5 class="widget-user-desc">@Model.CenterName</h5>
        </div>
        <div class="widget-user-image">
            <img class="img-circle elevation-2" src="~/@Model.Profile_Image" alt="User Avatar">
        </div>
        <div class="card-footer">


                    

            <div class="row">
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <span class="description-text">Phone</span>
                        <h5 class="description-header">@Model.Phone</h5>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <span class="description-text">Email</span>
                        <h5 class="description-header">@Model.Email</h5>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4">
                    <div class="description-block">
                        <span class="description-text">Locate</span>
                        <h5 class="description-header">@Model.Center_Location</h5>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
            </div>


            <section class="content">
            <div class="row">
              
              <div class="col-md-12 col-lg-6 col-xl-4">
                  <h4 class="text-center">The Front Of Personal Card</h4>
                <div class="card mb-2">
                  <img class="img-fluid pad" src="~/@Model.Personal_Card" alt="The Front Of Personal Card">
                </div>
              </div>


              <div class="col-md-12 col-lg-6 col-xl-4">
                  <h4 class="text-center">The Back Of Personal Card</h4>
                <div class="card mb-2">
                 <img class="img-fluid pad" src="~/@Model.Personal_Cardback" alt="The Back Of Personal Card">
                </div>
              </div>
              <div class="col-md-12 col-lg-6 col-xl-4">
                  <h4 class="text-center">Rental License Photo</h4>
                <div class="card mb-2">
                  <img class="img-fluid pad" src="~/@Model.Rental_License" alt="Rental License Photo">
                </div>
              </div>
            </div>

                    <div class="row">
                        <div class="col-12">
                                <a asp-route-id="@Model.Id" asp-action="DisConfirm" asp-controller="AutoMechanic" class="btn btn-danger">DisConfirm</a>
                                <a asp-route-id="@Model.Id" asp-action="Confirm" asp-controller="AutoMechanic" class="btn btn-success  float-right">Confirm</a>
                        </div>
                    </div>
        
                    </section>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.widget-user -->
</div>
</div>
</form>